
body{
    background: url(media/female-receptionist-elegant-suit-work-hours.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header{
    background-color: rgb(255, 255, 255) !important;
}
.Maincontainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
} 
.box{
    border-radius: 10px;
 backdrop-filter: blur(10px);
  background-color: rgba(241, 196, 136, 0.678);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 50px;
  gap: 20px;
}
.box p{ 
   cursor: pointer;
    color: blue;
    margin-top: -15px;
    float: right;
    /* font-family: cursive; */
    
}
.box .email{
    padding: 5px 40px;
    border: none;
    
}
.box .paswd{
    padding: 5px 40px;
    border: none;

}
.box button{
    font-size: medium;
    color: white;
    background-color: black;
    padding: 4px 70px;
    border-radius: 10px;
    transition: 0.1s ease ;
}

.box button:hover{
    background: rgb(255, 255, 255);
    color: black;

}