*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.4;
    /* background-color: rgb(45, 194, 194); */
}

/* ~~~~~~~~~~~~~~~~~~~Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.header{
    /* background-color: rgb(233, 228, 189); */
    display: flex;
    justify-content: space-between;
    width: 100;
    height: 50px;
    margin: 20px;
    overflow: hidden;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(90, 69, 69, 0.2);
    box-shadow: 10px 10px 10px rgba(33, 33, 36, 0.267);
    border-radius: 20px;
}
.logo{
    width:50px;
    height: auto;
    margin-left: 100px;

}
.links{
    margin-right: 100px;
    display: flex;
    gap: 100px;
    align-items: center;
}
.links a{
    color: black;
    font-size: larger;
    text-decoration: none;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    background-color: blue;
    height: 35px;
    border-radius: 10px;
    color: white !important;
}
.login:hover{
    scale: 0.9;
    background-color: rgba(68, 68, 241, 0.849);
}


/* ~~~~~~~~~~~~~~~~~~~Hero ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.Hero{
    margin-top: 60px;
    display: flex;
    overflow: hidden;
}

.leftside{
    width: 50%;
     animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.leftside img{
    width: 80%;
}
.rightside{
    animation: slide-in-elliptic-top-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    /* background-color: aquamarine; */
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: start;
    justify-content: center;
}
.rightside div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 30%;
    height: 30px;
  background-color: #149f39;
}
.rightside h1{
    width: 70%;
    font-size: 4rem;
}
.rightside p{
    font-size: 1.3rem;
    width: 60%;
}
.rightside button{
    font-size: 1rem;
  background-color: #e49c21;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 25%;
    height: 30px;
    border: none;
    cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~ Cards    ~~~~~~~~~~~~~~~~~~~~~~~~ */
.cards{
   display: flex;
  gap: 30px;
   padding: 0px 90px;
}
.card{
 display: flex;
 
}

/* ~~~~~~~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~~~~~~~~~~ */
.menu{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.menu div{
     display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 10%;
    height: 30px;
  background-color: #149f39;
}

.menu h2{
    font-size: 2rem;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 100px;
    padding: 0px 90px ;

}
    
.div1 {
    background:  url(media/thai-food-spicy-fresh-oyster-salad.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
   
    height: 500px;
}

.div2 {
    
    background:  url(media/sandwich-with-egg-served-with-lettuce.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
}

.div3 {
    
    background:  url(media/fried-vegetables-with-sauce-pan.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
}

.div4 {
    background:  url(media/44.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    grid-row-start: 3;
}

.div5 {
    
    background:  url(media/55.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: span 2 / span 2;
    grid-row-start: 6;
}

.div6 {
    
    background:  url(media/66.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: span 2 / span 2;
    grid-row-start: 6;
}

.div7 {
    
    background:  url(media/77.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: span 2 / span 2;
    grid-row-start: 6;
}
        
.footer{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100;
 padding: 50px 0px;
 background-color: #e49d2149;
}
.mainbox{
 display: flex;
 gap: 100px;
}

.links1 ul{
    list-style: none;
}
.links2 ul{
    list-style: none;
}
.socials{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}



@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@keyframes slide-fwd-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px);
            transform: translateZ(160px) translateY(-100px);
  }
}
